.chartjs-render-monitor {
  width: 63% !important;
  /* height: 100% !important; */
  margin: 0 auto;
  flex: 0.5 !important;
  height: 190px;

  /* border-radius: 10px; */
}

.graph {
  /* position: relative; */
  background-color: rgb(65, 63, 63);
  border-radius: 8px;
  width: 100% !important;
  margin: 0 auto;
}
