.infoBar {
  flex: 1;
  margin: 5px 5px;
  cursor: pointer;
  background-color: rgb(65, 63, 63) !important;
  /* border: 0.1px solid rgb(88, 87, 87); */
}

h5,
h3,
h4 {
  /* color: rgb(109, 106, 106); */
  color: rgb(196, 196, 196);
}

.infoBar-clicked {
  flex: 1;
  margin: 5px 5px;
  border-top: 5px solid #eb1a1a;
  cursor: pointer;
  background-color: rgb(65, 63, 63) !important;
  /* border: 0.1px solid rgb(88, 87, 87); */
}

.infoBar-clicked-green {
  flex: 1;
  margin: 5px 5px;
  border-top: 5px solid #1aff00;
  cursor: pointer;
  background-color: rgb(65, 63, 63) !important;
  /* border: 0.1px solid rgb(88, 87, 87); */
}
