.barChart {
  background-color: rgb(65, 63, 63);
  border-radius: 8px;
  width: 100% !important;
  margin: 0 auto;
  flex: 0.5;
  height: 190px;
}

.chartjs-render-monitor {
  /* width: 63% !important;
  height: 100% !important; */
  /* flex: 1; */
  margin: 0 auto;
  /* background-color: white; */
  /* border-radius: 10px; */
}

@media screen and (min-width: 1800px) {
  .barChart {
    height: 300px;
  }
}
