.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MuiButtonBase-root {
  height: 56px;
  color: red !important;
  background-color: rgb(65, 63, 63) !important;
}

.MuiSelect-root {
  color: red !important;
  background-color: rgb(65, 63, 63) !important;
  outline: none !important;
}
