.app_infoBar {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app {
  /* background-color: rgb(196, 191, 191); */
  height: 100%;
  display: flex;
  /* flex-flow: column; */
}
.app_body {
  /* align-content: center; */
  flex: 1;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.root {
  min-height: 100%;
}

.app_map {
  /* background-color: white; */
  display: flex;
  padding: 10px;
  height: 380px;
  /* height: 20em; */
  /* flex: 1; */
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgb(124, 39, 39) !important;
}

.app__middle {
  margin-left: 5px;
}

.app__map__left {
  flex: 0.5;
}

.app__map__right {
  flex: 0.5;
  max-height: 100%;
}

.app__map__right {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
}

@media screen and (min-width: 1800px) {
  .app_map {
    height: 600px;
    background-color: rgb(124, 39, 39) !important;
  }

  .chartjs-render-monitor {
    height: 300px !important;
  }
}

@media screen and (max-width: 1800px) {
  .chartjs-render-monitor {
    height: 190px !important;
  }
}

@media screen and (max-width: 800px) {
  .app_infoBar {
    flex-direction: column;
  }

  .app_map {
    flex-direction: column;
    height: 100vh;
  }
}
