.app_infoBar {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.app {
  /* background-color: rgb(196, 191, 191); */
  height: 100%;
  display: flex;
}
.app_body {
  /* align-content: center; */
  flex: 1;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.root {
  min-height: 100%;
}

.app_bottom {
  /* background-color: white;
  padding: 10px;
  height: 350px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px; */
}

.app_map {
  /* background-color: white; */
  padding: 10px;
  height: 350px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: rgb(65, 63, 63) !important;
}
